<ng-container
  *ngIf="{
    fetchingStatus: tasksFacade.tasksFetchingStatus$ | async,
    tasks: tasksFacade.tasks$ | async,
    deletionStatuses: tasksFacade.tasksDeletionStatuses$ | async,
    allTasksFetched: tasksFacade.allTasksFetchedStatus$ | async,
    creationStatus: tasksFacade.taskCreationStatus$ | async
  } as state"
>
  <app-task-form
    class="task-form"
    [requestStatus]="state.creationStatus"
    (submitted)="tasksFacade.createTask($event)"
  ></app-task-form>

  <!-- https://github.com/angular/angular/issues/19727 -->
  <div [@listSlideInOut]="state.tasks.length">
    <div *ngFor="let task of state.tasks" class="row task-row">
      <div class="col">
        <app-task
          [task]="task"
          [deletionStatus]="state.deletionStatuses[task.id]"
          (delete)="tasksFacade.deleteTask($event)"
        ></app-task>
      </div>
    </div>
  </div>

  <div
    *ngIf="state.fetchingStatus !== RequestStatus.Success || !state.allTasksFetched"
    [ngSwitch]="state.fetchingStatus"
    class="row justify-content-center"
  >
    <div *ngSwitchCase="RequestStatus.Pending" class="col-auto loader-wrapper">
      <div class="loader"></div>
    </div>

    <div *ngSwitchCase="RequestStatus.Error" class="col-auto">
      <p class="error-message">Something went wrong</p>
    </div>

    <ng-container *ngSwitchDefault>
      <div *ngIf="!state.allTasksFetched" class="col-sm-auto">
        <button class="button" (click)="tasksFacade.fetchTasks()">Load more</button>
      </div>
    </ng-container>
  </div>
</ng-container>
