:host {
  display: block;
  padding: 50px 0;
}

.task-form {
  display: block;
  margin-bottom: 50px;
}

.task-row {
  margin-bottom: 25px;
}

.error-message {
  text-align: center;
  font-size: 1.2rem;
}

.button {
  width: 100%;
}
