$white: #fff;
$light-gray: #e9eaeb;
$very-dark-gray: #1d1d1d;
$blue: #2fa6ff;
$dark-blue: #003862;
$pink: #ff80ab;

// Extra small screen / phone
$xs: 0;
// Small screen / phone
$sm: 576px;
// Medium screen / tablet
$md: 768px;
// Large screen / desktop
$lg: 992px;
// Extra large screen / wide desktop
$xl: 1200px;
