<header class="header row">
  <label class="col" data-test-id="label">{{ label }}</label>

  <div class="col">
    <p
      *ngIf="ngControl.touched && ngControl.errors"
      class="validation-error"
      [ngSwitch]="errorType"
    >
      <span *ngSwitchCase="'required'" data-test-id="required-error">Required</span>

      <span *ngSwitchCase="'maxlength'" data-test-id="max-length-error">
        Maximum length: {{ errorDetails.requiredLength }} characters
      </span>
    </p>
  </div>
</header>

<div class="row">
  <div class="col">
    <ng-content></ng-content>
  </div>
</div>
